[submodule "tgkeyboard"]
	path = tgkeyboard
	url = https://github.com/Blucknote/tgkeyboard
[submodule "redditsaver"]
	path = redditsaver
	url = https://github.com/Blucknote/redditsaver
	branch = relative
[submodule "tgapi"]
	path = tgapi
	url = https://github.com/Blucknote/tgapi
